<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>GymCalculator</title>



</head>
<body>

<th:block >
    <nav class="navbar navbar-light bg-light ">
        <div class="container">
            <label class="label text-dark col-2" th:text="${currentUser.getUsername()}"></label>
            <a th:if="${currentUser.getUsername() == 'defaultUser'}" class="navbar-brand col-2" href="/login">Login</a>
            <a th:if="${currentUser.getUsername() != 'defaultUser'}" class="navbar-brand col-2" href="/logout">Logout</a>
        </div>
    </nav>
    <section class="jumbotron text-center">

        <h1 class="jumbotron-heading text-info">WEB PROGRAMMING Lifts Calculator</h1>
        <h2 class="jumbotron-heading text-indigo">Log your latest lifts</h2>
        <hr>

    </section>
    <div class="container bg-light p-5 ">

        <h3 class="text-start text-info fw-bolder">Log your latest lifts</h3>
        <hr>
        <div class="row">

            <div class="col-2 m-3">
                <label for="units" class="label text-dark" style="left: 25%">Units:</label>
                <select  class="btn btn-indigo form-select border-info border-2 text-center " id="units"
                         style="height: 55px">
                    <option th:value="Metric" th:text="Metric"></option>
                    <option th:value="Imperial" th:text="Imperial"></option>
                </select>
            </div>


            <div class="col-4 m-3">
                <label for="nearest" class="label text-dark ">Round calculations to nearest:</label>
                <select class="btn btn-indigo form-select border-info border-2 " id="nearest"
                        style="height: 55px">
                    <option th:value="1" th:text="'1 kg'"></option>
                    <option th:value="2.5" th:text="'2.5 kg'"></option>
                    <option th:value="5" th:text="'5 kg'"></option>
                    <option th:value="10" th:text="'10 kg'"></option>
                </select>
            </div>

        </div>

        <hr>


        <form th:action="@{/homepage}" th:method="POST">

            <h1 class="text-start text-info ">Select the lifts that you train.</h1>
            <p class="text-start opacity-50">These lifts will be used to determine your strength levels. For the most
                complete results, choose at least one lift per category</p>

            <!--       Exercises to select from...      -->
            <div class = "row" >
                <div class="card d-flex flex-column col-4 mb-4" id="formtest" th:each="category : ${categories}">
                    <label th:for="${category.getCategoryName()}" class="label label-info fw-bold" th:text="${category.getCategoryName()}"></label>
                    <div class="form-check checkbox icheck-indigo" th:each="exercise : ${category.getExercises()}">
                        <input class="form-check-input" type="checkbox" th:checked="${exercise.getChecked()}" th:value="${exercise.getExerciseName()}">
                        <label class="form-check-label" th:for="${exercise.getExerciseName()}" th:text="${exercise.getExerciseName()}"></label>
                    </div>
                    <!-- Trigger exercise modal with a button -->
                    <div class="mt-auto mb-2" id="createExercise" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"  th:attr="data-bs-target='#addNewExercise' + ${categoryStat.index}">Add new Exercise</button>
                    </div>
                    <!-- Exercise Modal -->
                    <div class="modal"  th:id="'addNewExercise' + ${categoryStat.index}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <p class="modal-title fw-bold"  th:text="'Add new Exercise to ' + ${category.getCategoryName()}">Add new Exercise</p>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row">
                                        <label  th:for="${category.getCategoryName()}" th:text="'Enter exercise name'"></label>
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4" id="createCategory" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="button" class="btn btn-danger btn-sm" >Add new Category</button>
                </div>
            </div>

    <!-- Exercise Modal -->
    <div class="modal" id="addNewExercise">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add new Exercise</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p> To be implemented</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
            <!--    Personal info...   -->

            <h1 class="text-start text-info mt-0">Enter your sex, bodyweight, & age.</h1>
            <p class="text-start opacity-50">Your strength score adjusts by sex, bodyweight, and age,
                allowing you to measure yourself against any other lifter.</p>

            <div class="row">
                <div class="col-2 m-3">
                    <label for="select3" class="label text-wrap text-dark" style="left: 15px">Sex</label>
                    <select class="btn btn-indigo form-select border-info border-2    " id="select3"
                            style="height: 55px">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>

                <div class="col-2 m-3">
                    <label for="bw" class="label text-wrap text-dark" style="left: 15px">Body weight</label>
                    <div class="input-group">
                        <input type="number"
                               class="btn btn-indigo border-info border-2 form-select text-black form-control bg-indigo"
                               id="bw" style="height: 55px">
                        <span class="input-group-addon bg-indigo text-black">kg</span>
                    </div>
                </div>

                <div class="col-2 m-3">
                    <label for="age" class="label text-wrap text-dark" style="left: 15px">Age (optional)</label>
                    <input type="number" class="btn btn-indigo border-info border-2 form-select text-black " id="age"
                           style="height: 55px">
                </div>

            </div>
            <hr>

            <h1 class="text-start text-info mt-0">Enter your best recent sets.</h1>
            <p class="text-start opacity-50">Finally, for each lift you train, enter your most difficult set that you have
                completed recently. Each set should be 10 or fewer reps.</p>


            <!-- todo: maybe put a reset button later
            == reset button sets the changed inputs to their predefined values (inserted by the user when creating an account)-->

            <button type="button" class="btn btn-danger text-white ">Analyze</button>
            <button type="button" class="btn btn-info text-white ">Analyze and Log Lifts</button>
            <button type="button" class="blockquote"
                    onclick="{document.getElementById('info').classList.toggle('hidden'); }">?
            </button>
            <div class="hidden border border-info text-black p-4" id="info" style="background: #86b7fe">
            <span><b>Analyze:</b> Displays a strength analysis, but does not save the data you entered.
                Use this if you're just curious about some results.</span>
                <br>
                <span><b>Analyze and Log Lifts:</b> Displays a strength analysis and saves the data you entered.
                Use this if the numbers you entered match your recent lifts.</span>
                <br>
                <span><b>Reset:</b> Loads your last logged lifts.</span>
            </div>

        </form>

    </div>
</th:block>


<script>
    function LiftForms(name,target){
        var cond = $(name).is(':checked');
        document.getElementById(target).style.display = cond?"":"none";
        // $("#squatform").display = $("#FsquatCheckbox").is(':checked') ? 'block':'none';
        console.log(name);
        console.log(target);
    }

    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#myModal").modal();
        });
    });

</script>

</body>
</html>