<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-secondary ">
<th:block xmlns:th="http://www.thymeleaf.org">
    <!--Navigation bar-->
    <div th:replace="/fragments/nav :: navbar"></div>
    <div class="container d-flex justify-content-center">
        <div class="card mt-3 col-12 p-4">
            <article class="card-body">
                <h1 class="card-title mb-4 mt-1 text-danger text-center">LIFTS & PROPER FORM</h1>
                <h3>Back Squat</h3>
                <p>
                    With the barbell on your back, descend until the top surface of your thighs is lower than the top of
                    your knees ("below parallel"), then stand back into an upright position where the knees are locked.
                    For the purposes of measuring on Symmetric Strength, the squat is not complete unless your legs move
                    below parallel with the ground, and knee wraps should not be used.
                </p>
                <div class="row mb-3">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/7fmrKmJMQnw"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/bs_Ej32IYgo"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/U5zrloYWwxw"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Front Squat</h3>
                <p>With the barbell resting on your shoulders (using either an olympic-style "clean" grip or a
                    bodybuilding-style "cross" grip), descend until the top of your thighs is lower than the top of your
                    knees, then stand back into an upright position where the knees are locked. For the purposes of
                    measuring on Symmetric Strength, the front squat is not complete unless your legs move below
                    parallel with the ground, and knee wraps should not be used.</p>
                <div class="row mb-3 d-flex justify-content-center">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/wyDbagKS7Rg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/vzVCqLyGVd0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Deadlift</h3>
                <p>With the barbell on the floor, grab the bar such that your grip is outside your legs ("conventional"
                    stance), then lift the barbell until your knees and hips are locked and your shoulders are back. For
                    the purposes of measuring on Symmetric Strength, lifting straps should not be used.</p>
                <div class="row mb-3 d-flex justify-content-center">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/u6UgD1H_AXw"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/Y1IGeJEXpF4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Sumo Deadlift</h3>
                <p>With the barbell on the floor, grab the bar such that your grip is between your legs ("sumo" stance),
                    then lift the barbell until your knees and hips are locked and your shoulders are back. For the
                    purposes of measuring on Symmetric Strength, lifting straps should not be used.</p>
                <div class="row mb-3 d-flex justify-content-center">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/u07SQkfLfrQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/lDt8HwxVST0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Power Clean</h3>
                <p>With the barbell on the floor, grab the bar such that your grip is outside your legs, then lift the
                    barbell. Once the barbell is above your knees, raise the bar explosively and rack it onto your
                    shoulders, then stand upright.</p>
                <div class="row d-flex justify-content-center mb-3">
                    <iframe class="col-4 " width="400" height="200" src="https://www.youtube.com/embed/mPsxlNjv7Aw"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Bench Press</h3>
                <p>While lying on a flat bench, unrack the barbell and move it above your chest with locked elbows.
                    After the barbell is unracked, lower the barbell until the barbell touches the chest, then pause for
                    one second, then raise the barbell above your chest until your elbows are locked. Your head, upper
                    back, and glutes should be in contact with the bench throughout the entire lift, and your feet
                    should remain on the ground. For the purposes of powerlifting competitions and measuring on
                    Symmetric Strength, the bench press is not complete unless there is a pause at the bottom of the
                    rep.</p>
                <div class="mb-3 row">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/BYKScL2sgCs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/ily2X9LCEfg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/XGkRDcMeSTY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Incline Bench Press</h3>
                <p>While lying on an incline bench (30-45 degrees), unrack the barbell and move it above your chest with
                    locked elbows. After the barbell is unracked, lower the barbell until the barbell touches the chest,
                    then pause for one second, then raise the barbell above your chest until your elbows are locked.
                    Your head, upper back, and glutes should be in contact with the bench throughout the entire lift,
                    and your feet should remain on the ground. For the purposes of measuring on Symmetric Strength, the
                    incline bench press is not complete unless there is a pause at the bottom of the rep.</p>
                <div class="row d-flex justify-content-center mb-3">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/DbFgADa2PL8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Dip</h3>
                <p>While at a dip station (either assisted, unassisted, or with weight hanging from you), begin by
                    grabbing the bars and supporting yourself with locked elbows. Lower yourself until the top of your
                    elbows are above the top of your shoulders ("below parallel"), then press yourself back up until
                    your elbows are once again locked. For the purposes of measuring on Symmetric Strength, the dip is
                    not complete unless your upper arms move below parallel with the ground.</p>
                <div class="row d-flex justify-content-center mb-3">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/2i3o0bFZT_s"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Overhead Press</h3>
                <p>Stand and hold the barbell directly in front of you under your chin, then press the barbell above
                    your head until your elbows are locked while maintaining an upright stance throughout the lift. For
                    the purposes of measuring on Symmetric Strength, this lift should be done while standing, not
                    sitting.</p>
                <div class="row d-flex justify-content-center mb-3">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/wol7Hko8RhY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/CnBmiBqp-AI"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Push Press</h3>
                <p>Stand and hold the barbell directly in front of you under your chin. Slightly bend the knees and
                    hips, then explosively drive upward and press the bar overhead until your elbows are locked.</p>
                <div class="row d-flex justify-content-center mb-3">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/fFY7CGKjGNM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Snatch Press</h3>
                <p>Stand with the barbell resting on your back with a snatch grip (a very wide grip), then press the
                    barbell above your head until your elbows are locked. See this article to determine your snatch grip
                    width.</p>
                <div class="row d-flex justify-content-center mb-3">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/5WKw8kuN298"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/Oqr4GnICbvE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Chin-up</h3>
                <p>Grab a horizontal bar above you (either assisted, unassisted, or with weight hanging from you) using
                    a supinated grip (palms facing you) and begin the lift in with locked elbows with packed shoulders
                    in a "dead hang" position. Lift yourself upward until your chin is above the bar, without using
                    momentum or "kipping". For the purposes of measuring on Symmetric Strength, the chin-up is not
                    complete if you "kip" yourself up to the top.</p>
                <div class="row d-flex justify-content-center mb-3">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/bZ6Ysk9jf6E"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/F239gCCmnoA"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Pull-up</h3>
                <p>Grab a horizontal bar above you (either assisted, unassisted, or with weight hanging from you) using
                    a pronated grip (palms facing away from you) and begin the lift in with locked elbows with packed
                    shoulders in a "dead hang" position. Lift yourself upward until your chin is above the bar, without
                    using momentum or "kipping". For the purposes of measuring on Symmetric Strength, the pull-up is not
                    complete if you "kip" yourself up to the top.</p>
                <div class="row d-flex justify-content-center mb-3">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/HuuyDNGrCI8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/F239gCCmnoA"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <h3>Pendlay Row</h3>
                <p>With the barbell in front of you, bend your knees slightly and grab the barbell with an overhand grip
                    such that your back is parallel to the ground. Explosively pull the weight up and touch the barbell
                    with your lower chest or upper abdominal area, then bring the barbell back to the ground. For the
                    purposes of measuring on Symmetric Strength, when explosively pulling the weight up, you may use
                    some hip extension to initiate the lift as long as the hip angle never surpasses 30 degrees from the
                    starting point, and lifting straps may be used. Your form should be somewhere between the two videos
                    shown below:</p>
                <div class="row d-flex justify-content-center mb-3">
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/ZlRrIsoDpKg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <iframe class="col-4" width="400" height="200" src="https://www.youtube.com/embed/OFDUA5S0B7M"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </article>
        </div>
    </div>
</th:block>
</body>
</html>